h1{
    color:red;
    text-align:center;
    
}
h2{
    color:red;
    text-align:center;
    
}
body{
    background-image:url('images/or back jsp.png');
    background-repeat:no-repeat;
    width:90%
}